<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SafeWalkNav</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>횡단보도 앞에서 보행자 신호등의 색을 인식해 음성으로 알려주기 위해 카메라를 사용합니다. 촬영된 영상은 기기 안에서만 처리되며 외부로 전송되지 않습니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>보행 경로를 안내하고 횡단보도 접근을 감지하기 위해 현재 위치를 사용합니다. 화면이 꺼진 상태에서도 안내가 이어지도록 백그라운드에서도 위치를 확인합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>목적지를 말로 입력하고 음성 명령으로 길 안내를 조작할 수 있도록, 사용자가 말할 때 마이크로 음성을 입력받습니다. 입력된 음성은 기기에서 명령을 인식하는 데에만 사용됩니다.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>말로 입력한 목적지와 음성 명령을 글자로 변환해 길 안내를 제어하기 위해 음성 인식을 사용합니다.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
